body {
    background: khaki;
}
.display-4{
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 6.5em;
}

.jumbotron-fluid {
    background: khaki; 
}
.card {
    float: left;
    position: relative;
}

