body {
    background-color: #e6ffff;

}
.display-4{
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 6.5em;
}

.jumbotron-fluid {
    background: #e6ffff;

}
.card {
   float: left;
    position: center;

}
#fathers {
    font-size: 2em;

    
}
#image {
    position: center;
    float: right;
}

